/QuanLyCuaHang/nbproject/private/
/QuanLyCuaHang/build/
/QuanLyCuaHang/dist/
/InventoryManagement/nbproject/private/
/InventoryManagement/build/
/JavaApplication1/build/
/JavaApplication1/nbproject/private/
/QuanLyDienThoai/nbproject/private/
/QuanLyDienThoai/build/
/QuanLyDienThoai/dist/
